<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="louis.flight.status.info">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="louis.flight.status.info.MainApplication"
        android:allowBackup="true"

        android:label="FlightData"

        android:supportsRtl="true"
        android:theme="@style/Theme.CovidTracker">
        <activity
            android:name="louis.flight.status.info.ui.MainActivity"
            android:theme="@style/Theme.CovidTracker.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>